@media (max-width: 2000px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 800px;
  }
}
@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 374px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

body {
  background-color: rgb(240,240,240);
  font-family: 'SF Pro', Helvetica, sans-serif;
  font-size: 20px;
  line-height: 25px;
}

h1 {
  color: #575F7D;
}

.link {
  background-color: #575F7D;
  padding: 10px 30px;
  text-decoration: none;
  color: white;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
}

.link:hover {
  text-decoration: underline;
  color: white;
}

#title-img {
  width: 180px;
  border-radius: 100%;
}

p {
  color: rgb(100,100,100);
  font-size: 15px;
  margin: 0;
}

a:hover {
  color: black;
  text-decoration: underline;
}

.container {
  margin: 0 auto;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 12px;
  font-size: 60px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

a {
  color: rgb(230, 230, 230);
}

.card {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  margin: 20px 0;
  box-shadow: 1px 3px 30px rgb(200, 200, 200);
  text-align: center;
}
